.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width:262px;
    height: 350px;
    margin-left: 10px;
    margin-top: 20px;
   align-content: center;
  text-align: center;
  font-family: arial;
  display: inline-block;
  -webkit-transition: height 1.5s; /* For Safari 3.1 to 6.0 */
  transition:  height 1s;
  /* -webkit-transition: width 1s; /* For Safari 3.1 to 6.0 */
}

.price {
    color: green;
    font-weight: 200;
    font-size: 24px;
  }

  .card button {
    border: none;
    outline: 0;
    margin: 3px;
    padding: 10px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    /* width:50%; */
    font-size: 18px;
    display: inline-block;
  }
  .card:hover{
    height: 400px;
    box-shadow: 0 14px 20px 0 gold;
    opacity: 0.7;
    height: 370px;
    width: 280px;
  }
  

/* .card:hover button{
    opacity: 0.5;
    transition: 1s;
}  */

#cart:hover{
  opacity: 0.7;
  transition: 0.5s;
}

#wish:hover{
  opacity: 0.7;
  transition: 0.5s;
}